<div class="parent">
<div class="container">
<h3>Prdocuts</h3>
<p class="discription">Select any one of the product from below listed and place your order based on your interst !</p>
</div>
<div class="parent1">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..\assets\img\acer.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Acer is one of the finest laptop to use in easy way with 500 GB internal memory </p>
      <a routerLink="laptop" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..\assets\img\tv.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lenovo is one of the finest laptop to use in easy way with 600 GB internal memory</p>
      <a routerLink="tv" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..\assets\img\mobiles.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Dell is one of the finest laptop to use in easy way with 700 GB internal memory</p>
      <a routerLink="mobile" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..\assets\img\mixer.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Sony is one of the finest laptop to use in easy way with 500 GB internal memory</p>
      <a routerLink="mixer" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..\assets\img\washingmachine.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Toshiba is one of the finest laptop to use in easy way with 500 GB internal memory</p>
      <a routerLink="washingmatchine" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
 
  </div>
</div>
